*{
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: aquamarine;
}

.titulo{
    font-size: 55px;
    margin-left: 125px;
    margin-top: 80px ;
    color: rgb(7, 7, 56);
}


.subtitulo{
    max-width: 71.5%;
    background-color: aqua;
    text-align: center;
    border: solid black 1px;
    margin-left: 125px;
}

.here{
    text-decoration: none;
    color: white;
    background-color: rgb(54, 141, 192);
}

nav{
    position:absolute;
    top: 160px;
    display: block;
    margin-left: 570px;

}
nav ul{
    list-style:none;
    display:flex;
}
nav a{
    display: inline-block;
   background-color: rgb(21, 108, 207);
   background: linear-gradient(to bottom right, rgb(21, 108, 207), pink);
   color: white;
   text-decoration: none;
   border: solid black 1px;
   box-shadow: 5px 5px 5px black;
   padding: 5px 10px;
   margin-right: 13px;
}
#imagenhockeydisenio2{
    height: 300px;
    width: 960px;
    margin-left: 125px;
}
#img-log{
    margin-left: 950px;
    position: fixed;
    top: 400px;
}

section{
    position: absolute;
    left: 125px;
    top: 500px;
    width: 680px;
}
p{
    text-indent: 1em;
    font-size: 25px;
}
h3{
    font-size: 30px;
    color: blue;
}

.ul1{
    list-style-type:circle;
}
.ol2{
    list-style-type:lower-latin;
}

h5{
    font-size: 25px;
}
h4{
   font-size:  30px;
}
h6{
    font-size: 22px;
}
table{
    width: 800px;
}
td{
    border: blue solid 1px;
}
th{
    border: blue solid 1px;
    
}