*{
    font-family: Brush Script MT;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: aquamarine;
}

.titulo{
    font-size: 55px;
    margin-left: 125px;
    margin-top: 80px ;
    color: rgb(7, 7, 56);
}

.subtitulo{
    display: inline-block;
    padding: 0px 370px 0px 400px;
    margin-left: 125px;
    margin-right: 125px;
    color: blueviolet;
    background-color: aqua;
    background-size: 960px 100%;
    border: solid black 1px;
    position:relative;
    top: -100px;
}

.here{
    text-decoration: none;
    color: white;
    background-color: rgb(54, 141, 192);
}

nav{
    position:absolute;
    top: 160px;
    display: block;
    margin-left: 780px;

}
nav ul{
    list-style:none;
    display:flex;
}
nav a{
    display: inline-block;
   background-color: rgb(21, 108, 207);
   color: white;
   text-decoration: none;
   border: solid black 1px;
   box-shadow: 5px 5px 5px black;
   padding: 5px 10px;
   margin-right: 13px;
}
#imagenhockeydisenio2{
    height: 300px;
    width: 960px;
    margin-left: 125px;
}
#img-log{
    position: relative;
    left: -300px;
    top: 50px;
}

section{
    position: absolute;
    left: 125px;
    top: 500px;
    width: 680px;
}
p{
    text-indent: 1em;
    font-size: 25px;
}
h3{
    font-size: 30px;
    color: blue;
}