*{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.titulo{
    font-size: 55px;
    height: 300px;
    width: 960px;
    background-image: url("/images/design1_image1.jpg");
    background-size: 960px 327px;
    background-position: center center;
    margin: 80px 125px 5px;
}

.subtitulo{
    display: inline-block;
    padding: 0px 370px 0px 400px;
    margin-left: 125px;
    margin-right: 125px;
    color: white;
    background-color: black;
    background-size: 960px;
}

.here{
    text-decoration: none;
    color: black;
}

nav{
    display: block;
    margin: 50px;
    margin-left: 20px;
}
nav a{
    display: block;
   margin-left: 125px;
   padding-bottom: 50px;
   padding-bottom: 30px;
}
#imagenhockeydisenio2{
    display: none;
}
#img-log{
    position: relative;
    left: -350px;
    top: 50px;
}
ul{
    list-style: none;
}

section{
    width: 680px;
    position: relative;
    left: 400px;
    top: -220px;
}
p{
    text-indent: 1em;
}